<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="oneimlx" value="https://nuget.pkg.github.com/perpetualintelligence/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <oneimlx>
            <add key="Username" value="%PI_GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%PI_GITHUB_PAT%" />
        </oneimlx>
    </packageSourceCredentials>
</configuration>
