@page "/"

<PageTitle>Home</PageTitle>

<h1>OneImlx.Terminal + Blazor Server</h1>

This application demonstrates the integration of OneImlx.Terminal framework natively in your Blazor server web application.